@model Product

<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
            <form asp-action="add" asp-controller="Favorites">
                <input type="hidden" name="ProductId" value="@Model.Id" />
                <button class="btn btn-transparent" type="submit" style="box-shadow: none">
                    <i class="bi bi-heart"></i>
                </button>
            </form>
        </div>
        <!-- Product image-->
        <a href="/Products/Details/@Model.Id">
            <img class="card-img-top" src="~/Img/Products/@Model.Image" alt="@Model.Name">
        </a>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">@Model.Name</h5>
                <!-- Product price-->
                @Model.Price.ToString("c")
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <form action="/Cart/Add" method="post">
                <input type="hidden" name="ProductId" value="@Model.Id" />
                <div class="text-center">
                    <button class="btn btn-outline-dark mt-auto" type="submit">
                        <i class="bi-cart-fill me-1"></i> Add to cart
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>