@model CheckoutViewModel    

@{
    ViewData["Title"] = "Buy!";
}
<section class="container my-5">
    <div class="text-center">
        <h1 class="display-4">Buy</h1>
    </div>
  
        @if (Model.CartProducts.Any())
        {  <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">

                    <table class="table table-striped table-hover">
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            
                        </tr>
                        <tbody>
                            @foreach (var item in Model.CartProducts)
                            {
                                <tr>
                                    <td>
                                        <img src="/Img/Products/@item.Product.Image" alt="" height="37" />
                                    </td>
                                    <td>
                                        <a class="nav-link text-dark" href="/Products/Details/@item.Product.Id">
                                            @item.Product.Name
                                        </a>
                                    </td>
                                    <td>
                                        @item.Product.Price.ToString("c")
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @((item.Quantity * item.Product.Price).ToString("c"))
                                    </td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h4>Order Summary</h4>
                </div>
                <table class="table">
                    <tr>
                        <td>Total Product</td>
                        <td>
                            @Model.TotalPrice.ToString("c")
                        </td>
                    </tr>
                    <tr>
                        <td>Cargo</td>
                        <td>
                            @(Model.TotalPrice > 999 ? "Free" : Model.CartProducts.Any() ? "99₺" : "0₺")
                        </td>
                    </tr>
                    <tr>
                        <th>Total Order</th>
                        <td>
                            @(Model.TotalPrice > 999 ? Model.TotalPrice.ToString("c") : (Model.CartProducts.Any() ? Model.TotalPrice + 99 : Model.TotalPrice.ToString("c")))
                        </td>
                    </tr>
                </table>

                <div class="text-center">
                    <a href="/" class="btn btn-danger">
                        <i class="bi bi-cart me-1"></i> Continue Shopping
                    </a>
                    <a href="/Cart/Checkout" class="btn btn-success">
                        <i class="bi bi-credit-card me-1"></i> Buy
                    </a>
                </div>

            </div>
        </div>
        <hr />
        if (Model.Addresses is null || Model.Addresses.Count == 0)
        {
            <div class="alert alert-secondary my-5">
                <h5 class="text-danger">
                    You Don't Have a Registered Address!
                </h5>
                <h6>
                    You must add at least 1 address to place an order!
                </h6>
                <a href="/MyAddresses/Create" class="btn btn-danger">
                    <i class="bi-person-plus me-1"></i>
                    Add Adress
                </a>
            </div>
        }
        else
        {
            <form asp-action="Checkout">
                <div class="my-5">
                    <h3>Delivery Address</h3>
                    <div class="row row-cols-3">
                        @foreach (var item in Model.Addresses)
                        {
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="DeliveryAddress" value="@item.AddressGuid" @(item.IsDeliveryAddress ? "checked" : "") ) />
                                                @item.Title
                                            </label>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <p>
                                            @item.OpenAddress @item.District @item.City
                                        </p>

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="BillingAddress" value="@item.AddressGuid" @(item.IsBillingAddress ? "checked" : "") />
                                                Billing Address
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="my-5">
                    <h2>Payment Options</h2>
                    <h3>Pay by Card</h3>
                    <h6>You can pay using a bank or credit card.</h6>
                    <h6>Card Information</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Name on Card</label>
                            <input type="text" name="CardNameSurname" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Card Number</label>
                            <input type="number" name="CardNumber" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <label>Expiration date</label>
                        <div class="col-md-2">
                            <select class="form-select" name="CardMonth" required>
                                <option disabled value="">Month</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-select" name="CardYear" required>
                                <option disabled value="">Year</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>CVV</label>
                            <input type="number" name="CVV" class="form-control" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-2">Pay</button>
                </div>
            </form>
        }
    }
        else
        {
            <div class="container">
                <div class="alert alert-warning my-5">
                    <h3>There are no products in your cart!</h3>
                </div>
            </div>
        }
 
</section>